@header-max-height: 800px;
@header-image-width: 1600px;
@header-image-height: 1200px;

.bg-photo-wrapper {
	width: 100%; 
	height: @header-max-height; 
	overflow:hidden; 
	position: relative;

	.bg-photo {
		position: absolute;
		top:0;
		width: 100%;
		min-width: ceil((@header-max-height / @header-image-height) * @header-image-width); //1068px;
		overflow: hidden;
	}
}


.btn {
	.transition(0.4s);
	font-family: @font-family-ui;
	
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,.05), inset 0 1px 0 rgba(255,255,255,0.25);
    box-shadow: 0 1px 0 rgba(0,0,0,.05), inset 0 1px 0 rgba(255,255,255,0.25);

	&:active,
  	&.active {    	
      	.box-shadow(inset 0 1px 0 rgba(0,0,0,.05));
  	}

	.glyphicon {
		color: @brand-success;
		margin-right: -2px;
	}
}

.btn-default {	
	&:hover,
	&:focus,
	&:active,
	&.active,
	.open .dropdown-toggle& {
		background-color: darken(@btn-default-bg, 1%);
	}
}

.page {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	overflow: auto;
}

#back-btn {
	.transition(0.2s);
	position: absolute;
	left:floor(@line-height-computed / 2);
	top:floor(@line-height-computed / 2);

	&:hover {
		left:floor(@line-height-computed / 2) - 4;
	}
}

#skip-btn {
	.transition(0.2s);
	position: absolute;
	top:0;
	left: 50%;
	margin-left: -11px;
	&:hover {
		top:4px;
	}
}

#nav {
	position: fixed;
	padding: 18px 16px 14px 16px;
	color: @gray;
	font-weight: 900;
	z-index: 99;
	background: rgba(255,255,255,0.95);
	width: 100%;
	height:@line-height-computed * 2;
	.box-shadow(0 1px 1px rgba(0,0,0,0.25));

	top:-(@line-height-computed * 2);

	a {
		.transition(0.2s);
		color: @gray;
		&:hover {
			margin-left:-4px;
		}
	}

	.title {
		font-family: @font-family-sans-serif;
		font-weight: 600;
		position: absolute;
		top:15px;
		left:56px;
		border-left: 1px solid @gray-light;
		padding-left: @line-height-computed / 2;
	}
}

#header {

	

	//background-color: @gray;
	color: rgba(255,255,255,0.9);
	max-height: @header-max-height;
	height: 100%;
	//margin-bottom:  @line-height-computed * 2;
	overflow: hidden;
	position: relative;

	
	
	.container {
		height: 100%;
		position: relative;
	}	

	.skip-btn-wrapper {
		margin-top:@line-height-computed;
		position: relative;
		height: @line-height-computed;
	}

	a {
		color:#fff;
	}
}

#content {
	padding-top:  @line-height-computed * 2;
	background: #fff;
}

.label {
	font-weight: 600;
	border-radius: 2px;
}

.meta {
	font-family: @font-family-ui;
	font-size: @font-size-small;
	font-weight: 400;
	margin-bottom: 0;

	.date {
		margin-right:8px;
	}

	.label {
		margin-right: 2px;
		font-size: 100%;		
	}
}

.subtitle {
	font-size: 28px;
	margin-top: 0;
	line-height: @line-height-computed;
	margin-bottom: @line-height-computed / 4;
	font-weight: 300;
}

.post-title {
	position: absolute;
	bottom: @line-height-computed;
	width: 100%;

	h1 {
		margin-bottom: (@line-height-computed / 2);
	}
}