@import "bootstrap/bootstrap.less";
@import "elements.less";
@import "common.less";

#home {
	h1 {
		font-size: 99px;
	}

	.post-list {

		h2 {
			//margin-bottom: 0;
			//font-size: 33px;
			margin-bottom: @line-height-computed / 2;
		}

		.subtitle {
			//font-size: 22px;			
			//margin-bottom: 0;
		}

		.meta {
			//font-size: 14px;
		}

		.post {
			border-bottom: 1px solid @gray-lighter;
			padding-bottom: @line-height-computed * 2;

			.links {
				margin-top: @line-height-computed;
			}
		}
	}
}